@import 'style-extra/variables.scss';

.u-meta {
    font-size: 1.4rem;
    font-weight: 900;
}

.u-flexCenterLeft {
    display: flex;
	align-items: center;
	justify-content: flex-start;
}

.u-flexRowCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.u-flexColumnCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.u-flex1 {
    flex: 1;
}

.u-inlineBlock {
    display: inline-block;
}

.u-textRight {
    text-align: right;
}

.u-fatText {
	font-weight: 900;
}

.u-width100 {
    width: 100%;
}

$marginConfig: (smallMargin: $smallMargin, standardMargin: $standardMargin, bigMargin: $bigMargin, doubleMargin: $doubleMargin);
@each $margin, $marginVar in $marginConfig {
    .u-#{$margin} {
        margin-bottom: $marginVar;
    }
}