@import 'style-extra/variables.scss';

.btn {
	padding: 5px 20px;
	max-width: 90%;
	background-color: white;
	border-radius: 200px;
	transition: .2s;
	font-size: 900;
	color: darken($blue, 10%);
	color: $purple;
	user-select: none;
	box-shadow: 0px 3px 6px rgba(black, 0.3);
	&:hover {
		box-shadow: 0px 5px 10px rgba(black, 0.3);
	}
}