.Spinner {
  border-radius: 500px;
  margin: 20px auto;
  border: 1px solid #7dcdcd;
  border-bottom-color: transparent;
  animation: rotate 1s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(360deg); } }
