@import 'style-extra/variables.scss';

.Spinner {
	border-radius: 500px;
	border: 1px solid $blue;
	border-bottom-color: transparent;
	animation: rotate 1s linear infinite;

	@keyframes rotate {
		0% {
			transform: rotateZ(0);
		}
		100% {
			transform: rotateZ(360deg);
		}
	}
}