.MapWrapper {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 800px) {
    .MapWrapper {
      flex-direction: row; } }

.Loading {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Loading * {
    width: 100%; }
  .Loading h1, .Loading h4 {
    text-align: center;
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
    color: #cccccc;
    text-transform: uppercase; }
  .Loading h1 {
    font-weight: 300; }

.Map {
  width: 100vw;
  height: 100vh; }

.SettingsButton {
  position: absolute;
  right: 10px;
  top: 10px; }
