.OverlayBg {
  padding: 20px 5%; }

.Tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-height: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 800px) {
    .Tutorial {
      min-height: initial; } }

.Tutorial--header {
  display: block;
  font-weight: 900; }

.TutorialImageWrapper {
  width: 100%;
  padding-top: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #f4e1e1;
  position: relative; }

.Tutorial--image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: white; }

@media screen and (min-width: 800px) {
  .TutorialTextWrapper {
    min-height: 150px; } }

.Tutorial--text {
  display: block;
  white-space: pre-line; }

.Tutorial--lower {
  width: 100%; }

.TutorialButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }

.StepWrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.StepIndicator {
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 100px;
  border: 1px solid #e6e6e6; }

.StepIndicator--active {
  border: 1px solid #7dcdcd;
  background-color: #7dcdcd; }

.SkipTextButton {
  box-shadow: none;
  color: #999999; }
  .SkipTextButton:hover {
    box-shadow: none !important;
    color: #666666; }
