.shake-slow {
  display: inherit;
  transform-origin: center center; }

.shake-freeze,
.shake-constant.shake-constant--hover:hover,
.shake-trigger:hover .shake-constant.shake-constant--hover {
  animation-play-state: paused; }

.shake-freeze:hover,
.shake-trigger:hover .shake-freeze, .shake-slow:hover,
.shake-trigger:hover .shake-slow {
  animation-play-state: running; }

@keyframes shake-slow {
  2% {
    transform: translate(-9px, 9px) rotate(3.5deg); }
  4% {
    transform: translate(6px, 10px) rotate(-0.5deg); }
  6% {
    transform: translate(-3px, -8px) rotate(-2.5deg); }
  8% {
    transform: translate(-9px, -5px) rotate(-0.5deg); }
  10% {
    transform: translate(10px, -2px) rotate(-0.5deg); }
  12% {
    transform: translate(4px, 1px) rotate(3.5deg); }
  14% {
    transform: translate(-4px, -2px) rotate(3.5deg); }
  16% {
    transform: translate(8px, 3px) rotate(-2.5deg); }
  18% {
    transform: translate(2px, -1px) rotate(3.5deg); }
  20% {
    transform: translate(-4px, 5px) rotate(3.5deg); }
  22% {
    transform: translate(-5px, 10px) rotate(0.5deg); }
  24% {
    transform: translate(8px, 5px) rotate(2.5deg); }
  26% {
    transform: translate(-8px, 8px) rotate(-1.5deg); }
  28% {
    transform: translate(7px, -4px) rotate(2.5deg); }
  30% {
    transform: translate(6px, 2px) rotate(0.5deg); }
  32% {
    transform: translate(-8px, -5px) rotate(2.5deg); }
  34% {
    transform: translate(-4px, -4px) rotate(1.5deg); }
  36% {
    transform: translate(10px, -6px) rotate(3.5deg); }
  38% {
    transform: translate(-3px, 3px) rotate(-1.5deg); }
  40% {
    transform: translate(10px, -6px) rotate(-1.5deg); }
  42% {
    transform: translate(10px, 7px) rotate(3.5deg); }
  44% {
    transform: translate(-2px, -3px) rotate(2.5deg); }
  46% {
    transform: translate(-5px, -1px) rotate(-1.5deg); }
  48% {
    transform: translate(3px, 7px) rotate(-0.5deg); }
  50% {
    transform: translate(-1px, -8px) rotate(-2.5deg); }
  52% {
    transform: translate(-4px, 8px) rotate(-2.5deg); }
  54% {
    transform: translate(-8px, -9px) rotate(-0.5deg); }
  56% {
    transform: translate(-8px, 5px) rotate(-2.5deg); }
  58% {
    transform: translate(4px, 5px) rotate(1.5deg); }
  60% {
    transform: translate(-8px, -7px) rotate(2.5deg); }
  62% {
    transform: translate(0px, -3px) rotate(0.5deg); }
  64% {
    transform: translate(-5px, 8px) rotate(-2.5deg); }
  66% {
    transform: translate(-5px, -5px) rotate(1.5deg); }
  68% {
    transform: translate(9px, -2px) rotate(0.5deg); }
  70% {
    transform: translate(-6px, 3px) rotate(3.5deg); }
  72% {
    transform: translate(5px, -3px) rotate(-1.5deg); }
  74% {
    transform: translate(-5px, 5px) rotate(-2.5deg); }
  76% {
    transform: translate(3px, 4px) rotate(-1.5deg); }
  78% {
    transform: translate(7px, 6px) rotate(2.5deg); }
  80% {
    transform: translate(4px, 3px) rotate(-2.5deg); }
  82% {
    transform: translate(3px, 2px) rotate(0.5deg); }
  84% {
    transform: translate(-2px, -5px) rotate(-1.5deg); }
  86% {
    transform: translate(-4px, 2px) rotate(-0.5deg); }
  88% {
    transform: translate(2px, 1px) rotate(3.5deg); }
  90% {
    transform: translate(5px, 0px) rotate(-1.5deg); }
  92% {
    transform: translate(6px, 0px) rotate(-1.5deg); }
  94% {
    transform: translate(-7px, 0px) rotate(0.5deg); }
  96% {
    transform: translate(-2px, -3px) rotate(1.5deg); }
  98% {
    transform: translate(-2px, 4px) rotate(1.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

.shake-slow:hover,
.shake-trigger:hover .shake-slow, .shake-slow.shake-freeze, .shake-slow.shake-constant {
  animation-name: shake-slow;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.Label {
  width: 200px;
  height: 30px;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
  display: block;
  max-width: 100%;
  border: 1px solid transparent; }

.LabelFile {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: left;
  background: linear-gradient(to bottom right, #00ffff, #ff00cd);
  border: none;
  height: 100px;
  width: 200px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 5px; }

.FileLabel {
  padding: 5px;
  height: 30px;
  transform: translate3d(0, -100%, 0) scale(0.8);
  display: block;
  font-size: 14px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  padding: 5px;
  transition: 0.4s;
  transform-origin: 0% 100%; }

.FileText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  position: relative;
  z-index: 10;
  pointer-events: none; }

.FileFocus {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  pointer-events: none; }

.LabelTextarea {
  width: 400px;
  max-width: 100%;
  height: 200px;
  margin-bottom: 30px;
  position: relative;
  text-align: left;
  border: 1px solid transparent; }
  .LabelTextarea .MovingText {
    padding: 5px;
    height: 30px; }

.MovingText {
  display: block;
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  padding: 5px;
  transition: 0.4s;
  transform-origin: 0% 100%; }

.FileCircle {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin-bottom: 5px;
  pointer-events: none; }
  .FileCircle * {
    width: 20px;
    height: 20px;
    pointer-events: none; }
  .FileCircle svg {
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px; }
    .FileCircle svg path {
      fill: white; }

textarea {
  appearance: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 0;
  background-color: transparent;
  border: 1px solid #cccccc; }

input {
  margin: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  appearance: none;
  border: none;
  transition: 0.4s;
  background-color: transparent;
  border-bottom: #cccccc 1px solid; }

.InputLight {
  border-color: white; }

.TextAreaLight {
  border-color: white; }

input:disabled {
  background-color: #e6e6e6; }

input:focus {
  border-bottom-color: #7dcdcd; }

textarea:focus {
  border-color: #7dcdcd; }

input:focus + .MovingText, textarea:focus + .MovingText {
  transform: translate3d(0, -100%, 0) scale(0.8); }

.InputHasValue + .MovingText {
  transform: translate3d(0, -100%, 0) scale(0.8); }

.InputFile:focus + .FileFocus, .InputFile:active + .FileFocus {
  background: rgba(0, 0, 0, 0.3); }

.InputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.InputError {
  border: 1px solid #db5461; }
  .InputError input {
    border-color: transparent; }

.FileError {
  background: #db5461; }

.TextareaError {
  border: 1px solid #db5461; }
  .TextareaError textarea {
    border-color: transparent; }
